header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

.logo-titulo {
  display: flex;
  text-align: center;
}

.foto-logo {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 5rem;
  margin-right: 0.5rem;
}
li {
  display: inline-block;
  gap: 1rem;
  padding: 1rem;
}

@media (max-width: 580px) {
  .foto-logo {
    display: none;
  }
}
